body {
    background-image: url(../imagenes/cafe4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

body::-webkit-scrollbar{
    width: 7px;
    background-color: #330F0A;
}
body::-webkit-scrollbar-thumb{
    height: 7px;
    background-color: #F2DAC4;
    border-radius: 5px;
}
.navbar {
    display: flex;
    background-color: #330F0A;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 4px 4px 20px rgb(0, 0, 0) ;
}
.resenas, .principal, .promos, .menu{
    color: #F2DAC4;
    font-family: fuente1;
    font-size: larger;
    margin-right: -50px;
    text-decoration: none;
    transition: transform .2s;
}

.resenas:hover, .principal:hover, .promos:hover ,.logo:hover, .menu:hover{
    transform: scale(1.1);
}
.cuerpomayor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px; 
    padding: 20px;
    width: 100%;
    height: 550px;
    box-sizing: border-box; 
}

.cuerpo {
    display: flex;
    flex-direction: column; 
    width: 250px; 
    height: fit-content;
    background-color: rgba(178, 165, 148, 0.6);
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    animation: fadeIn 2s;
}

.logo {
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 300px;
    transition: transform .2s;
}

@font-face{
    font-family: fuente1;
    src: url(../fuente/Dosis-VariableFont_wght.ttf);
}
.estrellas{
    display: flex;
    width: auto;
    height: 20px;
    margin-bottom: 10px;
}
h4{
    font-family: fuente1;
    font-weight: 600;
    display: flex;
    text-align: center;
    margin: 20px
}
